page-operaciones {
    ion-row ion-col{
        text-align: center;
        font-size: 18px;
    }
    
    .concolor{
         font-family: "MarkaziText-Regular";
         color:blue;
         font-size: 20px;
    }
}
